<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Aston_tasks/testng/lesson_2_7_calculator">
        <classes>
            <class name="org.example.ColculatorTest">
                <methods>
                    <include name="testSum"/>
                    <include name="testDivisionByZero"/>
                    <include name="testDecrement" />
                    <include name="testDivide" />
                    <include name="testMultiply" />
                </methods>
            </class>
        </classes>
    </test>
</suite>